{{ app_path }}/log/*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    create 0640 {{ app_user }} {{ app_user }}
    sharedscripts
    postrotate
        systemctl kill -s USR1 puma.service
    endscript
}