<turbo-frame id="edit_streamer_modal">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" data-modal-target="container"></div>
  
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg" data-modal-target="container">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
              <h3 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Edit Streamer</h3>
              <%= render 'form', streamer: @streamer, users: @users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>